# Gradle
.gradle/
build/
gradle/

# IDEs
/.idea/
/*.iml
*.swp

# VS Code
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.temp